/* General styles */
body {
    font-size: 15px;
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.text-accent {
    color: hsl(277, 64%, 61%);
}

p {
    font-family: "Lexend Deca", sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: 7%;
}

.stats {
    position: relative;
    top: 42px;
    display: flex;
    flex-wrap: wrap;
}

.stat-item {
    flex: 1 1 100px;
    margin: 0 10px;
}

.stats p {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 13px;
    font-weight: 200;
}

.row {
    margin: 0;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
}

.image-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: hsl(277deg 82.86% 35.31% / 53%);
    border-radius: 0px 10px 10px 0px;
}

.img-fluid {
    border-radius: 0px 10px 10px 0px;
}

.image-container {
    position: relative;
    left: 15px;
}

.queries-section {
    text-transform: uppercase;
}

.big-heading {
    font-size: 37px;
    font-weight: 700;
}

.text-area {
    margin: 3% 10%;
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

/* Footer section */
footer.attribution {
    color: ghostwhite;
    width: 100%;
    padding: 20px;
    margin-top: 42px;
    text-align: center;
}

/* Mobile Styles */ 
@media (min-width: 375px) and (max-width: 375px) {
    .image-container {
        margin-left: -28px;
    }

    .img-fluid {
        border-radius: 10px 10px 0px 0px; /* Updated border radius */
    }

    .image-overlay {
        border-radius: 10px 10px 0px 0px; /* Updated border radius */
    }

    .text-area {
        text-align: center;
        margin: 5% 10%;
    }

    .stats {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 20px;
    }

    .stat-item {
        flex: 1 1 100px;
        margin: 0 10px;
    }

    .big-heading {
        font-size: 1.7rem;
    }
}

@media (max-width: 576px) {
    .bg-main {
        padding: 2rem 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    footer {
        display: none;
    }
}


@media only screen and (max-width: 393px) {
    .image-container {
            left: -12px;
            width: 108%;
       }
       
       .image-container img {
           border-radius: 10px 10px 0px 0px;
        }
       
       
       .image-overlay {
           border-radius: 10px 10px 0px 0px;
        }
       
       
       .stat-item {
            margin: 0 23px;
       }
       
       .text-area {
            text-align: center;}
}


@media (min-width: 409px) and (max-width: 409px) {
    .image-container {
        margin-left: -30px;
        width: 109%;
    }

    .img-fluid {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0px 0px;
    }

    .image-overlay {
        border-radius: 10px 10px 0px 0px;
    }

   .text-area {
        text-align: center;
   }

    .stats {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 20px;
    }

    .stat-item {
        flex: 1 1 136px;
        margin: 0 10px;
    }

    .big-heading {
        font-size: 1.7rem;
    }
}



/* Styles for screens from 990px to 767px */
@media (min-width: 767px) and (max-width: 990px) {
    .order-lg-1 {
        order: 1 !important;
    }

    .order-lg-2 {
        order: 2 !important;
    }

    .image-container {
        margin-left: auto;
        margin-right: 0;
    }

    .container-fluid {
        width: 117%;
    }

    .image-overlay {
        width: 100%;
    }
}

@media (min-width: 792px) and (max-width: 792px) {
    .img-fluid {
        border-radius: 0px 10px 10px 0px;
    }
    
    .image-overlay {
        border-radius: 0px 10px 10px 0px;}
    
    .text-area {
        text-align: left;}
    
    
    .container-fluid {
        width: 160%;
    }
}


/* Desktop Styles */
@media (min-width: 577px) {
    .bg-main {
        padding: 5rem 3rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .stats {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start; /* Aligns stats with the rest of the text content */
    }

    img {
        max-width: 80%;
        height: auto;
    }
}

/* Styles for 1263px width */
@media (min-width: 1263px) and (max-width: 1263px) {
    .image-overlay {
        width: 100%; /* Ensure the overlay fits the image width */
        left: 0; /* Adjust positioning */
    }
}

@media (min-width: 1920px) and (max-width: 1920px) {
    .row {
        width: 61%;
    }
}
